<h3>Add New Museum</h3>

<form action="/museums" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Name of Museum:</label>
    <input class="form-control" id="name" name="name" type="text" placeholder="Museum Name" autofocus>
    <button type="submit" class="button btn">Add Museum</button>
  </div>
</form>

<a href="/">Home</a>
<br>
<a href="/museums"<museums></a>
