<h3>Add New Gallery</h3>

<form action="/museums" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Name of Gallery:</label>
    <input class="form-control" id="name" name="name" type="text">
    <br>
    <button type="submit" class="button btn">Add Gallery</button>
  </div>
</form>

<a href="/">Home</a>
<br>
<a href="/museums">Back to Galleries</a>
