<h1>Current Galleries</h1>

<% if @museums.any?() %>
  <h3>Galleries:</h3>

  <ul>
    <% @museums.each() do |museum| %>
      <li><a href="/museums/<%= museum.id()%>"><%= museum.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>No galleries</p>

<% end %>

<a href="/museums/new">Add Gallery</a>
<br>
<a href="/">Home</a>
