body {
  background: url(http://static.wixstatic.com/media/7be769_c8a4a05aed7fe42e7438530b34061239.jpg_srb_p_600_450_75_22_0.50_1.20_0.00_jpg_srb);
  background-repeat: no-repeat;
  background-size: 1300px;
}

h1 {
  color: #EAD61C;
}

p {
  color: #EAD61C;
}

h3 {
  color: #EAD61C;
}

li {
  color: #EAD61C;
}

label {
  color: #EAD61C;
}

h {
  color: #EAD61C;
}
